//grid
$grid-gutter-width: 20px;
// $grid-gutter-width-container: 40px;
// $container-xs: 357px + $grid-gutter-width-container;
// $container-sm: 980px + $grid-gutter-width;
// $container-md: 980px + $grid-gutter-width;
// $container-lg: 980px + $grid-gutter-width;

//breakpoints
// $screen-xs-min: 357px;
// $screen-sm-min: 768px;

//typo
$text-color: #777;
$font-size-base: 16px;
$font-family-base: 'Droid Sans', sans-serif;

//colors
$c-primary: #1A5681;
$c-title: #005AA6;
$c-button: #007DBB;

@import "_settings.scss";

%button {
	background-color: #007DBB;
	border-radius: 6px;
	// box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25) inset;
	color: #FFF;
	display: inline-block;
	font-size: 18px;
	line-height: 50px;
	padding: 0 30px;
	&:hover {
		background-color: darken(#007DBB, 5);
		text-decoration: none;
	}
}

html, body {
	height: 100%;
}

body {
	top: 100%;
	> {
		header {
			background: url(../img/header-bg.jpg) no-repeat;
			height: 100%;
			left: 0;
			// max-height: 600px;
			position: fixed;
			top: 0;
			width: 100%;
			.text {
				display: table;
				height: 100%;
				padding-bottom: 60px;
				position: relative;
				text-align: center;
				> div {
					display: table-cell;
					vertical-align: middle;
				}
				p {
					color: #FFF;
					font-size: 38px;
				}
			}
			.pattern {
				background: url(../img/header-pattern.png) center center no-repeat;
				background-repeat: repeat; //FIXME: enlarge pattern
				position: absolute;
				height: 100%;
				opacity: 0.7;
				width: 100%;
			}
		}
		footer {
			background-color: #1A5681;
			text-align: center;
			img {
				display: inline-block;
				vertical-align: middle;
				margin: 16px 0;
			}
			span {
				color: #FFF;
				font-size: 14px;
				display: inline-block;
				margin-left: 15px;
				vertical-align: middle;
			}
		}
	}
}

nav {
	@include transition(background-color 200ms);
	background-color: rgba(#005AA6, 0.4);
	position: absolute;
	top: -60px;
	width: 100%;
	z-index: 1000;
	.home {
		@include make-sm-column(2, 0);
		text-align: center;
		> div {
			display: inline-block;
			padding: 18px 0;
		}
		img {
			vertical-align: middle;
			&:nth-child(1) {
				margin-left: 16px;
			}
			&:nth-child(2) {
				display: none;
			}
		}
		@include mq-only-mobile {
			text-align: center;
		}
	}
	.menu {
		@include make-sm-column(10, 0);
		display: table;
		line-height: 60px;
		width: 100%;
		a {
			color: #FFF;
			display: table-cell;
			text-align: center;
			white-space: nowrap;
			&:first-child {
				text-align: left;
				width: 20%;
			}
			&:last-child {
				text-align: right;
			}
		}
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
		@include mq-only-mobile {
			a {
				font-size: 12px;
			}
		}
	}
	&.fixed {
		background-color: #FFF;
		box-shadow: 0 -2px 0 #005AA6 inset;
		position: fixed;
		top: 0;
		.home {
			> div {
				padding: 10px 0;
			}
			img {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
			}
		}
		.menu {
			a {
				color: #777;
			}
		}
	}
}

main {
	background-color: #FFF;
	position: relative;
}

section {
	&.about, &.the-clinical, &.contact, &.hiring {
		header {
			background: url(../img/hiring-header.png) no-repeat center center;
			background-size: cover;
			height: 176px;
			h2 {
				color: #FFF;
				font-size: 38px;
				font-weight: 400;
				padding: 66px 0 0;
				text-align: center;
			}
			p {
				color: #FFF;
				font-size: 18px;
				font-weight: 300;
				opacity: 0.5;
				text-align: center;
			}
		}
	}

	&.about {
		article {
			.text {
				@include make-sm-column(6, 0);
				@include make-sm-column-offset(3);
				padding-bottom: 160px;
				padding-top: 140px;
				position: relative;
				text-align: center;
				h3 {
					color: #005AA6;
					font-size: 32px;
				}
				p {
					margin: 15px 0 50px;
					line-height: 26px;
				}
				.link {
					@extend %button;
				}
			}
		}
	}

	&.the-clinical {
		article {
			padding: 40px 0 100px;
			.photosAndText {
				@include make-row();
				.photos {
					@include make-sm-column(6);
					.items {
						@include make-row();
						.item {
							@include make-xs-column(6);
							&:nth-child(n+3) {
								margin-top: 20px;
							}
							img {
								border: 1px solid #BBB;
								box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
								border-radius: 3px;
								display: block;
								float: left;
								width: 100%;
							}
						}
					}
				}
				.text {
					@include make-sm-column(6);
					h3 {
						color: #005AA6;
						font-size: 32px;
						margin-top: 20px;
					}
					p {
						padding: 12px 0;
						line-height: 26px;
					}
				}
			}
		}
	}

	&.contact {
		header {
			h2 {
				padding-top: 40px;
			}
		}
		article {
			padding: 20px 0 70px;
			position: relative;
			.gmaps {
				left: 0;
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
			}
			.container {
				position: relative;
			}
			.form {
				@include make-sm-column(6, 0);
				background-color: #FFF;
				border-radius: 6px;
				box-shadow: 0 6px 10px rgba(#000, 0.25);
				padding: 20px;
				.field {
					label {
						font-size: 16px;
					}
					input, textarea {
						border: 1px solid #DDD;
						border-radius: 3px;
						display: block;
						height: 45px;
						margin: 12px 0 10px;
						padding: 10px;
						width: 100%;
					}
					textarea {
						height: 120px;
					}
					&.error {
						input, textarea {
							border-color: red;
						}
					}
				}
				.buttonAndMessages {
					@include clearfix();
					margin-top: 20px;
					button[type="submit"] {
						@extend %button;
						float: left;
						margin-right: 20px;
					}
					.messages {
						display: table-cell;
						height: 50px;
						margin-top: 10px;
						vertical-align: middle;
						p {
							display: none;
							&.invalid, &.error {
								color: red;
							}
							&.success {
								color: green;
							}
						}
					}
				}
			}
			.address {
				@include make-sm-column(6, 0);
				.holder {
					background-color: #1A5681;
					border-radius: 6px;
					box-shadow: 0 6px 10px rgba(#000, 0.25);
					margin-top: 20px;
					padding: 20px;
					a {
						color: #FFF;
						font-size: 18px;
					}
					img {
						float: left;
						margin-right: 20px;
					}
					p {
						color: #FFF;
						font-size: 18px;
						font-weight: 300;
						line-height: 26px;
						opacity: 0.4;
						padding-top: 15px;
					}
				}
				@include mq-from-tablet {
					.holder {
						margin: 314px 0 0 20px;
					}
				}
			}
		}
	}

	&.hiring {
		.text {
			@include make-sm-column(6, 0);
			@include make-sm-column-offset(3);
			padding: 100px 0;
			text-align: center;
			h3 {
				color: #005AA6;
				font-size: 32px;
				margin-top: 20px;
			}
			p {
				padding: 12px 0;
				line-height: 26px;
			}
		}
	}
}

.modal {
	@include transition(200ms);
	background-color: rgba(0, 0, 0, 0.4);
	visibility: hidden;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	.modal-center {
		@include translate(-50%, -50%);
		@include transform-style(preserve-3d);
		left: 50%;
		position: relative;
		top: 50%;
		.container {
			position: relative;
		}
		.close {
			color: #FFF;
			font-size: 13px;
			position: absolute;
			right: $grid-gutter-width;
			top: -20px;
		}
		.modal-content {
			background-color: #FFF;
			overflow: auto;
			padding: 0 30px;
			p {
				font-size: 13px;
				margin: 25px 0;
				&.logo {
					text-align: center;
				}
			}
			@include mq-only-mobile() {
				max-height: 300px;
			}
		}
	}
}

body.modal-showing {
	overflow: hidden;
	.modal {
		visibility: visible;
		opacity: 1;
	}
}
