<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="robots" content="index,follow">
	<meta name="web_author" content="<%= site_author %>">
	<title><%= site_title %></title>
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<header>
		<div class="pattern"></div>
		<div class="container text">
			<div>
				<img src="img/logo.png" alt="Andre Lucatelli - Psicólogo Clínico">
				<p>Terapia individual, com base<br>na teoria psicanalítica</p>
			</div>
		</div>
	</header>
	<main>
		<nav>
			<div class="container">
				<div class="home">
					<div>
						<img src="img/icon-home.png" alt="Início">
						<img src="img/logo-menu.png" alt="Início">
					</div>
				</div>
				<div class="menu">
					<a href="#andre-lucatelli" rel="navigation">André Lucatelli</a>
					<a href="#a-clinica" rel="navigation">A Clínica</a>
					<a href="#contato" rel="navigation">Contato</a>
					<a href="#locacao" rel="navigation">Locação</a>
					<a href="http://andrelucatelli.com.br/blog/">Blog</a>
				</div>
			</div>
		</nav>
		<%- yield %>
	</main>
	<footer>
		<img src="img/logo-footer.png" alt="Andre Lucatelli - Psicólogo Clínico">
		<span>2015</span>
	</footer>
</body>
</html>
