<section class="about andre-lucatelli">
	<header>
		<h2>O Psicólogo</h2>
	</header>
	<article>
		<div class="container">
			<div class="text">
				<div class="photo"></div>
				<h3>Um pouco sobre mim...</h3>
				<p>Doutorando pela Faculdade de Medicina da Universidade de São Paulo USP, com um projeto de pesquisa de recuperação neuropsicológica  e avaliação psicomotora, em paralelo, iniciou formação de psicanalista pelo Centro de Estudos Psicanalíticos. Com base em suas experiências e especializações em campos diversos, mas ligados pelos fatores sociais e políticos, o atendimento em psicologia clínica permite interpretações mais profundas sobre o sujeito e o meio em que vive.</p>
				<a href="#" class="link">Formação Completa</a>
			</div>
		</div>
	</article>
</section>

<section class="the-clinical a-clinica">
	<header>
		<h2>A Clínica</h2>
	</header>
	<article>
		<div class="container">
			<div class="photosAndText">
				<div class="photos">
					<div class="items">
						<% for(var i=1; i<=5; i++){ %>
						<div class="item">
							<img src="img/hiring-photo<%=i%>.jpg" alt="Foto <%=i%>">
						</div>
						<% } %>
					</div>
				</div>
				<div class="text">
					<p>O consultório possui sala de espera com televisão, banheiro, copa e área para o café. Prédio possui estacionamento.</p>
				</div>
			</div>
		</div>
	</article>
</section>


<section class="contact contato">
	<header>
		<h2>Contato</h2>
		<p>
			Atendimento de segunda a sexta das 8h às 22h<br>
			Sábados das 8h às 18h. Telefone: (11) 97983-4567
		</p>
	</header>
	<article>
		<div class="gmaps"></div>
		<div class="container">
			<form action="contact.php" method="POST" class="form">
				<div class="field">
					<label for="contactName">Nome</label>
					<input id="contactName" type="text" name="name">
				</div>
				<div class="field">
					<label for="contactEmail">Email</label>
					<input id="contactEmail" type="text" name="email">
				</div>
				<div class="field">
					<label for="contactSubject">Assunto</label>
					<input id="contactSubject" type="text" name="subject">
				</div>
				<div class="field">
					<label for="contactMessage">Mensagem</label>
					<textarea name="message" id="contactMessage"></textarea>
				</div>
				<div class="buttonAndMessages">
					<button type="submit">Enviar</button>
					<div class="messages">
						<p class="invalid">Por favor, preencha todos os campos.</p>
						<p class="sending">Enviando...</p>
						<p class="return"></p>
					</div>
				</div>
			</form>
			<div class="address">
				<div class="holder">
					<img src="img/icon-marker.png" alt="">
					<a href="https://goo.gl/maps/cZKSy" target="_blank">
						Av. General Ataliba Leonel, 93<br>
						Sala 27 - São Paulo - SP
					</a>
					<p>O prédio em que se localiza o consultório fica próximo ao metro Carandiru e dispõe de recepção, com segurança 24h e estacionamento pago no local. Telefone: (11) 97983-4567</p>
				</div>
			</div>
		</div>
	</article>
</section>

<div class="modal">
	<div class="modal-center">
		<div class="container">
			<a href="#" class="close">Fechar X</a>
			<div class="modal-content">
				<p class="logo">
					<img src="img/logo-modal.png" alt="Andre Lucatelli - Psicólogo Clínico">
				</p>
				<p>
					Formado em psicologia pela Universidade Estadual Paulista (Unesp), realizou estágios focados em psicologia da educação, na EMEI Unidos Para o Bem como auxiliador de desenvolvimento infantil através de contação de histórias e treinamento das professoras, e em psicologia organizacional  com treinamento e desenvolvimento de funcionários assim como elaboração de programas de preparo para aposentadoria e recepção de novos colaboradores, também possui 3 anos de experiência organizacional, nos setores de recrutamento e seleção, bem como financeiro e como conselheiro administrativo fiscal.
				</p>
				<p>
					Além dessas experiências, iniciou o atendimento clínico, com a psicanálise como fundamento de interpretação.
				</p>
				<p>
					Produção Científica:
				</p>
				<p>
					Iniciação Científica tendo como tema Dificuldade de atenção nas escolas e pesquisa sobre o TDAH e medicalização. Sob orientação do Professor Doutor Angelo Abrantes, com produção de artigo científico resultantes das pesquisas.
				</p>
				<p>
					Criador e Coordenador do grupo de estudos sobre Terapia Analítica e Jung, sob a supervisão da Psicóloga Mariana Mondelli.
				</p>
				<p>
					Organizador e palestrante do cursos sobre desenvolvimento infantil  baseado em experiência em uma turma de EMEI do município de Bauru.
				</p>
				<p>
					Participação como auxiliar nos experimentos para doutorado da Dra Fernanda Pezzato, realizando cirurgias craniais em ratos para indução de comportamento de mania e posterior análise deste compostamento em uma serie de testes comportamentais.
				</p>
				<p>
					Apresentação de Resumo de Artigo sobre Empresas Familiares e Questões de Sucessão dentro da Família no I Congresso de Psicologia Organizacional e do Trabalho do Centro Oeste Paulista, realizado na UNESP Campus de Bauru.
				</p>
			</div>
		</div>
	</div>
</div>

<section class="hiring locacao">
	<header>
		<h2>Locação</h2>
	</header>
	<article>
		<div class="container">
			<div class="text">
				<h3>Espaço ideial para suas consultas</h3>
				<p>Locação de sala para psicólogos. O consultório possui sala de espera com televisão, banheiro, copa e área para o café. Prédio possui estacionamento.</p>
				<p>A sala para locação conta com refrigerador e purificador de ar e brinquedos e materiais lúdicos que podem ser utilizados no atendimento com crianças.</p>
				<p>O prédio comercial funciona 24h, possui estacionamento local e recepção com cadastro de todos os visitantes por foto e RG. As câmeras de segurança são em HD.</p>
				<p>Para maiores informações, entre em contato: (11) 97983-4567</p>
			</div>
		</div>
	</article>
</section>
